.about-hero {
  padding-top: 48px;
  padding-bottom: 96px;
  @include line;
  &--text {
    max-width: 704px;
    margin: auto;
    text-align: center;
  }
  &--img {
    img {
      display: block;
      margin: auto;
      max-height: 100%;
      max-width: 100%;
    }
  }
}